.App {
  text-align: center;
  background-color: #283618;
}

.custom-navbar-bg-color{ 
  background-color: #fefae0;
}

.navbar-brand{
  font-weight:bolder;
}

.custom-btn {
  background-color: #606c38;
  color: #fefae0;
  border: 0.5px solid #dda15e;
  /* if you want to remove the border */
}

.custom-input-bg-color{
  background-color: #fefae0;
}

.custom-card-bg-color{
  
  background-color: #606c38;
  color: #fefae0;

}

.custom-border{
  border: 0.5px solid #dda15e;
}

.custom-posts-title{
  color: #bc6c25;
}

.custom-job-role{
  color: #dda15e;
  font-weight: bolder;
}

.custom-arrow{
  color: #bc6c25;
}

.custom-description-color{
  color: #fefae0;
}

.custom-icon-color{
  color: #bc6c25;
}

.custom-btn-post-color{
  background-color: #fefae0;
  color:black;
}

.custom-btn-post-color:hover{
  background-color: #dda15e;
  color: #fefae0;
}

.custom-dashboard:hover{
  font-size: larger;
  color: #bc6c25 !important;
}

.custom-landing-logo{
  padding-left: 40%;
  padding-right: 40%;
  font-size: xx-large;
  color: #dda15e;

}

.custom-landing-text{
  color:#bc6c25;
}

.custom-gap{
  gap: 5%;
}

.custom-form-box{
  width: 100vh;
  border: 2px solid #dda15e;
  border-radius: 50px;
  margin-top: 5%;
  background-color: #fefae0;

}

.custom-form-section{
  background-color: #faf1d5;
  border-radius: 10px;
}