body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background-color: #f9f7ff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
}

button, input {
  font-family: inherit;
}